.vscode/
build/
dist/
*.o
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
bin/

# audio files
03 - Blocks.flac
blocks.wav
05 - Spirals.flac
spirals.wav
megalo.wav
PrimerFinal.flac
primerfinal.wav
want-to-love-raw.wav
want-to-love-raw.mp3
# blocks_ytdl is preserved because it is not in original quality